@model IEnumerable<MvcMusicStore.Utilities.DatabaseUtilities.Produs>

@using (Html.BeginForm("SearchProduct", "ProductSearch", FormMethod.Get))
{
    @Html.TextBox("search")<input type="submit" name="submit" value="Search" />
}


<div id="products-wrapper">

    @foreach (var item in Model)
    {
        <div class="product">
            <div class="product-title">
                <h4>@item.Denumire</h4>
                <span class="image-wrapper">
                    <img src="@item.Url_Imagine" alt="Alternate Text" class="image" />
                </span>
            </div>
            <div class="product-details">
                <div class="price">
                    <h3>@item.Pret</h3>
                </div>
                <br />
                <span class="price-evolution">
                    <img src="@Url.Action("LineChart", "ProductSearch", new {productID = item.Id})" alt="Chart" />
                </span>
            </div>
            <div class="retailer-details">
                <div class="retailer-name">
                    @*<h3>@item.Vanzator.Nume</h3>*@
                </div>
            </div>
        </div>

    }
</div>

