@model IEnumerable<MvcMusicStore.Utilities.DatabaseUtilities.Produs>

@{
    ViewBag.Title = "My Products";
}
<h3>My products</h3>
</br>
<div id="products-wrapper container">


    @foreach (var item in Model)
    {
        <div class="product row" id="product-@item.Id">
            <div class="col-lg-5">
                <div class="product-details">
                    <h4 class="product-title">@item.Denumire</h4>
                    <div class="product-image">
                        <img src="@item.Url_Imagine" />
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="price-evolution">
                    <span class="price-evolution">
                        <img style="width: 80%;" src="@Url.Action("LineChart", "ProductSearch", new {productID = item.Id})" alt="Chart" />
                    </span>
                </div>
                <h3 class="product-price w-100" style="text-align: center;">@string.Format("{0} lei", item.Pret)</h3>
            </div>
            <div class="col-lg-3 pull-right">
                <div class="retailer">
                    <div class="retailer-name">
                        <h4>@item.Vanzator.Nume</h4>
                    </div>
                    <div class="retailer-image">
                        <img src="@string.Format("https://prslicstorage.blob.core.windows.net/logos/{0}.png",item.Vanzator.Nume)" />
                    </div>

                    @using (Html.BeginForm("RemoveAlert", "MyProducts", new { @productId = item.Id }))
                    {
                        <input class="btn btn-info" type="submit" value="Sterge Alerta" />
                    }
                </div>
            </div>
        </div>





    }
</div>